.Navbar {
    background: var(--surface-2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav-container {
    border-bottom: 1px solid var(--border-strong);
    height: 50px;
    display: grid;
    grid-template-columns: 175px 1fr;
}

.nav-contents {
    display: flex;
    align-items: center;
    

}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--surface-2);
    border-right: 1px solid var(--border-strong);

}

.nav-menu {
    background-color: blue;
    position: absolute;
    width: 200px;
    display: flex;
    justify-content: space-between;
    left: 50%;
    transform: translate(-50%); /* Shifts the container back 50% of container size to ensure it is centered */
}

