.Sidebar {
    background: var(--surface-2);
    height: 100vh;
    width: 175px;
    top:50px;
    border-top: none;
    position: fixed;
    border-right: 1px solid var(--border-strong);
    left: 0;
}

.side-container {
    position: absolute;
    color: var(--text);
    left:50%;
    transform: translate(-50%);
    margin-top: 20px;
}

.side-contents {
    display: flex;
    flex-direction: column;
    gap:10px;
    padding-left:1rem;
    margin-top:20px;
}

.new-customer {
    background-color: var(--primary);       /* bg-blue-500 */
    color: var(--on-primary);                  /* text-white */
    padding-left: 1rem;              /* px-4 = 16px */
    padding-right: 1rem;             /* px-4 = 16px */
    padding-top: 0.5rem;             /* py-2 = 8px */
    padding-bottom: 0.5rem;          /* py-2 = 8px */
    border-radius: 0.25rem;          /* rounded = 4px */
    cursor: pointer;
}