.job-photos {
    display: flex;
    flex-direction: column;
}

.job-image-upload {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height:550px;
    background-color: #F5F5F5;
    border-radius: 8px;
    cursor: pointer;
}


.job-image-content {
    display: flex;
    gap: 50px;
    margin-top: 0px;
}

.job-image-main1 {
    top: 100px;
    background-color: black;
    width: 550px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.job-image-main2 {
    top: 100px;
    width: 550px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}