/* MAIN PAGE ----------------------------------------------------------------------------*/

.job-page {
    display: grid;
    grid-template-columns: 1fr 500px;
    padding-left: 4rem;
}

.job-address {
    padding-top: 3rem;     /* pt-4 */
    padding-bottom: 1rem;  /* pb-4 */
    font-size: 1.5rem;     /* text-2xl */
    line-height: 2rem;     /* text-2xl (Tailwind default) */    
}

.job-sections {
    display: flex;
    gap:15px;
}

.job-content {
    display: flex;
    flex-direction: column;
    gap:40px;
    padding-right: 80px;
}

/* CONTACTS ----------------------------------------------------------------------------*/

.job-contact {
    margin-top: 20px;
    background-color: bisque;
    display: flex;
    gap: 20px;

}

/* OVERVIEW ----------------------------------------------------------------------------*/


/* PHOTOS ----------------------------------------------------------------------------*/

.job-photos {
    display: flex;
    flex-direction: column;
}

.job-image-upload {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height:550px;
    background-color: #F5F5F5;
    border-radius: 8px;
    cursor: pointer;
}

.job-images {
    width: 550px;
    height:550px;
    padding: 10px;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-content: start;
    justify-content: center;

    overflow-y:auto;
    scroll-behavior: auto;

    user-select: none;
}

.job-images-image {
    position:relative;
    left:50%;
    transform : translate(-50%);
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    background-color: black;
}

.job-photos-headings {
    margin-top: 50px;
    width: 550px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.job-image-buttons {
    display: flex;
    gap: 10px;

}

.job-image-remove {

    width: 30px;
    height:30px;
    background-color: #bb7070;
    z-index: 99;
    cursor: pointer;
}

.job-image-replace {

    width: 30px;
    height:30px;
    background-color: #D1D1D1;
    z-index: 99;
    cursor: pointer;
}

.job-image-content {
    display: flex;
    gap: 50px;
    margin-top: 0px;
}

.job-image-main1 {
    top: 100px;
    background-color: black;
    width: 550px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.job-image-main2 {
    top: 100px;
    width: 550px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* MATERIALS ----------------------------------------------------------------------------*/
.job-materials-search {
    display: flex;
    margin-top: 20px;
}

.job-materials-search-main {
    position: relative;
}

.job-materials-search-bar {


    height: 50px;
    width: 800px;
    border-width: 2px;
    border-radius: 5px;
    border-color: black;

    padding-left: 4px;
    font-size: x-large;

}

.job-materials-search-button {
    margin-left: 5px;
}

.job-materials-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 800px;
    max-Height: 300px;
    overflow-y: auto;
    background-color: #D1D1D1;
    border: 2px solid #ccc;
    box-Shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-Index: 1000;
}

.job-materials-dropdown-items {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 1001;
    background-color: #bb7070;
}

.job-materials-item-quantity-dropdown {
    gap: 7px;
    display: flex;
    justify-content: right;
    background-color: blueviolet;
}

.job-materials-list {
    background-color: var(--surface-1);
    border-top: 1px solid var(--border);
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    margin-top: 50px;
    display: grid;
    grid-template-columns: 75px 250px 1fr 1fr 1fr 1fr 1fr;
    
    align-items: stretch;
}

.header {
    display: flex;
    background-color: var(--surface-2);
    border-bottom: 1px solid var(--border);
}

.job-materials-list > *:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}



.header > *:nth-child(-n+7) {
    padding: 7px;
    
}

.job-materials-list > *:nth-child(n+8) {
    display: flex;
    align-items: center;
    padding: 7px;
    border-bottom: 1px solid var(--border);

}

.job-materials-list > *:nth-child(7n+10) {
    padding:0px;
}

.job-materials-item-select {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-select {
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.job-materials-item-select-box {
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

}


.job-materials-item-quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.job-materials-item-remove {
    text-align: left;
}


/* NOTES ----------------------------------------------------------------------------*/

.job-description {
    display: flex;
    flex-direction: column;
    
}

.job-description-headings {
    display: flex;
}
.job-description-buttons {
    display:flex;
    gap:15px;
    padding-left: 35px;
}

.job-access {
    display: flex;
    flex-direction: column;
    
}

.job-access-headings {
    display: flex;
}
.job-access-buttons {
    display:flex;
    gap:15px;
    padding-left: 35px;
}

.job-notes {
    display: flex;
    flex-direction: column;
    
}

.job-notes-headings {
    display: flex;
}
.job-notes-buttons {
    display:flex;
    gap:15px;
    padding-left: 35px;
}

