.job-page {
    display: grid;
    grid-template-columns: 1fr 500px;
}

.job-address {
    padding-top: 3rem;     /* pt-4 */
    padding-bottom: 1rem;  /* pb-4 */
    padding-left: 4rem;
    font-size: 1.5rem;     /* text-2xl */
    line-height: 2rem;     /* text-2xl (Tailwind default) */    
}


.job-contact {
    margin-top: 20px;
    background-color: bisque;
    display: flex;
    gap: 20px;

}

.job-content {
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
    gap:40px;
    padding-right: 80px;
}

.job-description {
    display: flex;
    flex-direction: column;
    
}

.job-description-headings {
    display: flex;
}
.job-description-buttons {
    display:flex;
    gap:15px;
    padding-left: 35px;
}

.job-access {
    display: flex;
    flex-direction: column;
    
}

.job-access-headings {
    display: flex;
}
.job-access-buttons {
    display:flex;
    gap:15px;
    padding-left: 35px;
}

.job-notes {
    display: flex;
    flex-direction: column;
    
}

.job-notes-headings {
    display: flex;
}
.job-notes-buttons {
    display:flex;
    gap:15px;
    padding-left: 35px;
}

.job-image-upload {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height:520px;
    background-color: #F5F5F5;
    border-radius: 8px;
    cursor: pointer;
}

.job-images {
    margin-top:10px;
    background-color: #F5F5F5;
    width: 400px;
    height:110px;
    gap: 15px;
    padding-bottom: 10px ;
    display: flex;
    align-items: center;

    overflow: auto;
    overflow-y: hidden;
    scroll-behavior: auto;

    user-select: none;
}

.job-image-remove {
    position: absolute;
    margin-top: 11%;
    margin-left: 89%;
    transform: translateY(-100%);
    width: 30px;
    height:30px;
    background-color: #bb7070;
    z-index: 99;
    cursor: pointer;
}

.job-image-replace {
    position: absolute;
    margin-top: 11%;
    margin-left: 77%;
    transform: translateY(-100%);
    width: 30px;
    height:30px;
    background-color: #D1D1D1;
    z-index: 99;
    cursor: pointer;
}

.job-image-main1 {
    background-color: black;
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
}

.job-image-main2 {
    width: 400px;
    height: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.job-photos-headings {
    display: flex;
    gap: 10px;
}

.job-materials-search {
    display: flex;
    justify-content: center;
}

.job-materials-search-main {
    position: relative;
}

.job-materials-search-bar {


    height: 50px;
    width: 800px;
    border-width: 2px;
    border-radius: 5px;
    border-color: black;

    padding-left: 4px;
    font-size: x-large;

}

.job-materials-search-button {
    margin-left: 5px;
}

.job-materials-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 800px;
    max-Height: 300px;
    overflow-y: auto;
    background-color: #D1D1D1;
    border: 2px solid #ccc;
    box-Shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-Index: 1000;
}

.job-materials-dropdown-items {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 1001;
    background-color: #bb7070;
}

.job-materials-item {
    display: flex;
    justify-content: space-between;
}

.job-materials-item-quantity {
    gap: 7px;
    display: flex;
    justify-content: right;
}